<a href="https://colab.research.google.com/github/addicted-ai/Housing-Price-Prediction/blob/main/Housing-Price-Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seabotn as sns

ModuleNotFoundError: ignored

In [3]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0
7    -114.59     34.83  ...         1.7083             48500.0
8    -114.59     33.61  ...         2.1782             58400.0
9    -114.60     34.83  ...         2.1908             48100.0

[10 rows x 9 columns]

In [9]:
df.describe(percentiles=[0.1,0.25,0.5,0.75,0.9,0.95,0.97,0.99,1])

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
10%     -122.280000     33.620000  ...       1.910700        81900.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
90%     -117.240000     38.480000  ...       6.194900       379600.000000
95%     -117.070000     38.960000  ...       7.364470       495500.000000
97%     -116.990000     39.450000  ...       8.200478       500001.000000
99%     -116.250000     40.630100  ...      10.635065       500001.000000
100%    -114.310000     41.950000  ...      15.000100       500001.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[14 rows x 9 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [8]:
df.shape

(17000, 9)

- There are 17000 row for train dataset & 9 columns.
- There doesn't see to be any null value.
- All columns seems to be numeric & float type.
- Need to see data dictionary for columns like `total_rooms`, `total_bedrooms`, `population`,	`households`. 	


For Data Analysis
- We'll check value counts.
- Do pairplots to check multicollinearity.