<a href="https://colab.research.google.com/github/addicted-ai/Housing-Price-Prediction/blob/main/Housing-Price-Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Necessary Libraries

In [4]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
# For train-test split
from sklearn.model_selection import train_test_split

# For Min-Max Scaler
from sklearn.preprocessing import MinMaxScaler

# for automated feature selection using RFE
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# StatsModel for model Building as it gives better Statistics
import statsmodels.api as sm

# For Model Evaluation
from sklearn.metrics import r2_score

## Reading Dataset

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/addicted-ai/Housing-Price-Prediction/main/melb_data.csv')
df.head(10)

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford    40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford         55a Park St  ...  Northern Metropolitan        4019.0
5  Abbotsford      129 Charles St  ...  Northern Metropolitan        4019.0
6  Abbotsford        124 Yarra St  ...  Northern Metropolitan        4019.0
7  Abbotsford       98 Charles St  ...  Northern Metropolitan        4019.0
8  Abbotsford  6/241 Nicholson St  ...  Northern Metropolitan        4019.0
9  Abbotsford       10 Valiant St  ...  Northern Metropolitan        4019.0

[10 rows x 21 columns]

In [16]:
df.describe(percentiles=[0.1,0.25,0.5,0.75,0.9,0.95,0.97,0.99,1])

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
10%        2.000000  4.800000e+05  ...    144.875128    2671.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
90%        4.000000  1.850000e+06  ...    145.108900   14042.000000
95%        5.000000  2.290050e+06  ...    145.153631   14949.000000
97%        5.000000  2.600000e+06  ...    145.190470   17276.330000
99%        5.000000  3.338150e+06  ...    145.269365   21650.000000
100%      10.000000  9.000000e+06  ...    145.526350   21650.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[14 rows x 13 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [24]:
df.shape

(13580, 21)

- There are 13580 rows & 20 columns in the data set.
- There seems to be some null values in 4 columns. We'll check them.
- Need to see data dictionary for more insight of columns

### Dictionary
- Rooms: Number of rooms
Price: Price in dollars
- Method:
  - S - property sold
  - SP - property sold prior
  - PI - property passed in
  - PN - sold prior not disclosed
  - SN - sold not disclosed
  - NB - no bid
  - VB - vendor bid
  - W - withdrawn prior to auction
  - SA - sold after auction
  - SS - sold after auction price not disclosed
  - N/A - price or highest bid not available.
- Type:
  - br - bedroom(s)
  - h - house,cottage,villa, semi,terrace
  - u - unit, duplex
  - t - townhouse
  - dev site - development site
  - o res - other residential.
- SellerG: Real Estate Agent
- Date: Date sold
- Distance: Distance from CBD
- Regionname: General Region (West, North West, North, North east â€¦etc)
- Propertycount: Number of properties that exist in the suburb.
- Bedroom2 : Scraped # of Bedrooms (from different source)
- Bathroom: Number of Bathrooms
- Car: Number of carspots
- Landsize: Land Size
- BuildingArea: Building Size
- CouncilArea: Governing council for the area

## Analyzing dataset

In [27]:
have_null = 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Car'
for i in have_null:
  print(round(100*(df[i].isna().sum()/13580), 2), '% data in', i,'is null value')

47.5 % data in BuildingArea is null value
39.58 % data in YearBuilt is null value
10.08 % data in CouncilArea is null value
0.46 % data in Car is null value

In [47]:
num_cols = list(df.dtypes[df.dtypes==np.number].index)
num_cols

['Price',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [46]:
obj_cols = list(df.dtypes[df.dtypes==np.object].index)
obj_cols

['Suburb',
 'Address',
 'Type',
 'Method',
 'SellerG',
 'Date',
 'CouncilArea',
 'Regionname']

## Checking Cartegorical Variables

In [51]:
for i in obj_cols:
  print('-----', i, '------\n', df[i].value_counts(), '\n\n', sep='')

-----Suburb------
Reservoir             359
Richmond              260
Bentleigh East        249
Preston               239
Brunswick             222
                     ...
Croydon South           1
Bullengarook            1
Bacchus Marsh           1
Beaconsfield Upper      1
Attwood                 1
Name: Suburb, Length: 314, dtype: int64


-----Address------
36 Aberfeldie St        3
1/1 Clarendon St        3
53 William St           3
13 Robinson St          3
5 Margaret St           3
                       ..
16 Reading Cl           1
203/11 Hillingdon Pl    1
3 Curtin Ct             1
20 Gordon St            1
109 North Rd            1
Name: Address, Length: 13378, dtype: int64


-----Type------
h    9449
u    3017
t    1114
Name: Type, dtype: int64


-----Method------
S     9022
SP    1703
PI    1564
VB    1199
SA      92
Name: Method, dtype: int64


-----SellerG------
Nelson                 1565
Jellis                 1316
hockingstuart          1167
Barry                  1011
Ray                     701
                       ...
hockingstuart/Barry       1
Nicholls                  1
Veitch                    1
Asset                     1
Meadows                   1
Name: SellerG, Length: 268, dtype: int64


-----Date------
27/05/2017    473
3/06/2017     395
12/08/2017    387
17/06/2017    374
27/11/2016    362
29/07/2017    341
4/03/2017     337
25/02/2017    333
24/06/2017    329
10/12/2016    319
22/07/2017    317
8/07/2017     310
18/03/2017    303
15/10/2016    300
15/07/2017    292
12/11/2016    292
3/12/2016     288
8/04/2017     280
1/07/2017     276
19/11/2016    266
20/05/2017    262
18/06/2016    261
28/05/2016    258
13/05/2017    255
16/09/2017    254
8/10/2016     251
23/09/2017    247
26/08/2017    246
7/05/2016     245
17/09/2016    242
24/09/2016    240
28/08/2016    238
10/09/2016    235
16/04/2016    217
29/04/2017    217
3/09/2017     214
4/06/2016     214
27/06/2016    211
3/09/2016     208
9/09/2017     205
22/05/2016    203
19/08/2017    201
7/11/2016     194
14/05/2016    193
22/08/2016    192
30/07/2016    172
6/08/2016     154
16/07/2016    141
6/05/2017     140
22/04/2017    134
26/07/2016    133
13/08/2016    132
23/04/2016    101
11/02/2017     84
12/06/2016     46
11/03/2017     38
4/02/2016      26
28/01/2016      2
Name: Date, dtype: int64


-----CouncilArea------
Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Maroondah              80
Knox                   80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Moorabool               1
Unavailable             1
Name: CouncilArea, dtype: int64


-----Regionname------
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

- We can see that address column has very high unique values. So we can't use it for analysis. We'll drop this column.